.btn1 {
    display: block;
    color: #000000;
    background: #fff;
    width: 120px;
    text-align: center;
    border: 1px solid #00000080
}

.btn2 {
    display: block;
    color: #fff;
    background: #FF6336;
    width: 120px;
    text-align: center;
    border: 1px solid #FF6336;
}

.btn__groop {
    padding: 0 51px 0 0;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    margin: 0 -5px;

        >li {
            padding: 0 5px;
        }
}

.m__btn {
    width: 160px;
    line-height: 60px;
}

.link__start {
    font-weight: 600;
    color: #000000;
}

.link__text {
    display: inline-block;
    position: relative;
    color: #000000;
    border-bottom: 1px solid #000000;

}


// .m__btn__list {
//     padding: 0;
//     margin: 0 -5px;

//     a {
//         width: 160px;
//         line-height: 60px;
//     }
// }

