//colors//
$dark-orange: #FF6336;
$white: #fff;
$black: #000;
$goldenrod: #dabc98;
$blue-white: #C9E8F2;
$beige: #FFF8E4;
$orang: #FF9C7D;

//background//
$btn__org: $dark-orange;
$btn__wht: $white;
$btn__b: $black;
$most: #DABC98;
$article: $blue-white;
$local__one: #FFF8E4;
$m__line2: #FF9C7D;
$why: #FF9C7D;

//color//