.m__line2 {
    max-width: 100%;
    background: $m__line2;
    padding: 110px 0 105px;
    text-align: center;
    
    &__block {
        display: flex;
        flex-direction: column;
    }

    &__title {
        max-width: 720px;
        margin: 0 auto;
    }
}


.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 65px 14px 0 23px;
    font-size: 53px;
    align-items: center;

}