.m__line2 {
    max-width: 100%;
    background: #FF9C7D;
    padding: 110px 0 105px;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 65px 15px 0;
    font-size: 53px;
    align-items: center;

    span {
        padding: 0 5px;
    }
}

[class="icon-frame_3"] {
    font-size: 21px;
}

[class="icon-frame_4"] {
    font-size: 25px;
}

[class="icon-frame_6"] {
    font-size: 19px;
}