.m__line1 {
    display: flex;
    align-items: center;
    max-width: 1582px;
    margin: 0 auto;
    padding: 130px 66px 172px 75px;

    &__text {
        max-width: 555px;
        padding: 0 15px 0 0 ;

        &__two {
            max-width: 471px;
            padding: 51px 0 48px 0;
            font-size: 25px;
            line-height: 35px;
        }

        span {
            display: block;
            font-size: 15px;
            line-height: 25px;
            padding-top: 25px;
        }
    
    }
}
