.most {
    max-width: 100%;
    background: #DABC98;
    padding: 90px 0 84px;
}

.most__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -21px;

    &__text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        // flex-grow: 1;
        padding-right: 135px;

        h3 {
            font-size: 35px;
            line-height: 50px;
            padding-left: 68px;
        }
    }

    &__brand {
        display: flex;
        flex-direction: row;
        align-items: center;


        p {
            font-size: 15px;
            line-height: 25px;
        }
    }
}

.brand__icon {
    display: flex;
    flex-direction: column;
    // justify-items: center;
    // align-items: center;
    align-content: center;
    padding: 0 0 0 71px;

    >span {
        font-size: 36px;
    }
}

[class="icon-Vector_1"] {
    font-size: 19px;
}
